commands:
    01_python_install:
        test: '[ ! -f /usr/bin/python3.7 ] && echo "Python 3.7 not installed"'
        command: 'yum install -y python3.7'
        ignoreErrors: true

    02_pip_install:
        cwd: /var/app/current
        command: 'pip3 install -r requirements.txt'
        ignoreErrors: true